body {
  font-family: "Monsterrat", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  font-family: "Monsteratt", sans-serif;
  color: #8f8f8f;
}

/* HEADINGS */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 10px;
}

.small-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #f8ede3;
  color: #85586f;
}

.white-section {
  background-color: #fff;
  padding-top: 5rem;
}

/* navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-family: "Monsteratt", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #85586f;
}

/* TITLE SECTION */

#title .container-fluid {
  padding: 3% 15% 7%;
  position: relative;
  text-align: left;
}

.fa-brands {
  margin: 0 5px 0 0;
}

/* Title image */

.title-image {
  width: 60%;
  position: absolute;
  right: 30%;
}

.title-image-div {
  position: relative;
}

/* second part of the page*/

/* featured section */

.icon {
  color: #85586f;
  margin-bottom: 1rem;
}

/* display a different color when hovering */
.icon:hover {
  color: #dfd3c3;
}

#featured {
  position: relative;
}

.feature-box {
  padding: 8%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonial Section */

#testimonials {
  background-color: #f8ede3;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Hobbies */

#hobbies {
  padding: 100px;
}

.hobbies-column {
  padding: 3% 2%;
}

/* footer */

#footer {
  background: #fff;
  font-size: 0.8rem;
  line-height: 3;
}

.fa-footer {
  margin: 20px 10px;
  color: black;
}

.fa-footer:hover {
  color: #85586f;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
  }
}

/* Make the ❤️ only appear when hovering over the specific hobby/<p> item. */

.card-body p {
  position: relative;
}

.card-body p .save-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  display: none;
}

.card-body p:hover .save-btn {
  display: block;
}
